*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;
}

.hidden{
  display: none;
  font-family: 'Inria Sans';
}

.nav-links{
  font-family: 'Inria Sans';
}

.font-link {
  font-family: 'Inria Sans';
}

